/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

 tools.spacing

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/

$padding-prefix: map-get($spacing, padding-prefix);
$margin-prefix: map-get($spacing, margin-prefix);


/* 

 Scaffold a set of spacing classes
 - - - - - -
 
*/

@mixin generate_spacing_classes($midfix: '') {
	@each $int in map-get($spacing, integers) {
		
		/* Axis based padding */
		.#{$padding-prefix}-#{$midfix}#{$int} {
			padding: rem($int);
		}

		.#{$padding-prefix}-#{$midfix}x#{$int} {
			padding-left: rem($int);
			padding-right: rem($int);
		}

		.#{$padding-prefix}-#{$midfix}y#{$int} {
			padding-top: rem($int);
			padding-bottom: rem($int);
		}

		.#{$padding-prefix}-#{$midfix}t#{$int} {
			padding-top: rem($int);
		}

		.#{$padding-prefix}-#{$midfix}b#{$int} {
			padding-bottom: rem($int);
		}

		.#{$padding-prefix}-#{$midfix}l#{$int} {
			padding-left: rem($int);
		}

		.#{$padding-prefix}-#{$midfix}r#{$int} {
			padding-right: rem($int);
		}

		/* Axis based margin */
		.#{$margin-prefix}-#{$midfix}#{$int} {
			margin: rem($int);
		}

		.#{$margin-prefix}-#{$midfix}x#{$int} {
			margin-left: rem($int);
			margin-right: rem($int);
		}

		.#{$margin-prefix}-#{$midfix}y#{$int} {
			margin-top: rem($int);
			margin-bottom: rem($int);
		}

		.#{$margin-prefix}-#{$midfix}t#{$int} {
			margin-top: rem($int);
		}

		.#{$margin-prefix}-#{$midfix}b#{$int} {
			margin-bottom: rem($int);
		}

		.#{$margin-prefix}-#{$midfix}l#{$int} {
			margin-left: rem($int);
		}

		.#{$margin-prefix}-#{$midfix}r#{$int} {
			margin-right: rem($int);
		}
	}
}