/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

 components.media

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/

.lazy-load, .lazy-background {
	opacity: 0;
	transition: all .2s ease;
}

.is-loaded {
	opacity: 1;
}