/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

 settings.media

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/

$media: (
	placeholder-background: transparent
);

$aspect_ratios: (
	1x1 	: (1,1),
	5x7		: (5,7),
	5x6		: (5,6),
	6x4		: (6,4),
	7x5		: (7,5),
	16x9	: (16,9)
);

$svg_widths: 40 60 80 100 200 300;