/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

 trumps.webfonts

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/

/* Font loading classes */
.wf-loading {
	h1, h2, h3, h4, h5, h6, p, a, ul, ol, i, input, label {
		visibility: hidden;
	}

	&.no-js {
		h1, h2, h3, h4, h5, h6, p, a, ul, ol, i, input, label {
			visibility: visible;
		}
	}
}

.wf-active {
    h1, h2, h3, h4, h5, h6, p, a, ul, ol, i, input, label {
		visibility: visible;
	}
}