/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

 trumps.color

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/


/*
 
 Create helper classes for each color
 - - - - - -

*/

@if $scaffold-color-classes {
	@each $color_name, $color_code in $colors {

		.color-#{$color_name} {
			color: #{$color_code};
		}

		.link-#{$color_name} {
			color: #{$color_code};

			&:hover {
				color: darken($color_code, 10);
			}
		}

		.border-#{$color_name} {
			border-color: #{$color_code};
		}

		.background-#{$color_name} {
			background-color: #{$color_code};
		}

		.svg-#{$color_name} {
			fill: #{$color_code};
		}	
	}
}


.lighten {
	opacity: .2;
}