/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

 objects.media

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/


/* 

 Create media placeholders
 - - - - - -

*/

.media-wrap, %media-wrap {
	position: relative;
	overflow: hidden;
	background: map-get($media, placeholder-background);

	> *, img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	/* Make sure iframe embeds fill container */
	iframe {
		width: 100%;
		height: 100%;
	}
}

/* Generate aspect ratio classes */
@each $class_name, $list in $aspect_ratios {
	.media-wrap--#{$class_name} {
		@include aspect_ratio(nth($list, 1), nth($list, 2));
	}
}


/* 

 Inline SVG. NOTE:
 - - - - - -

 This addresses issues with space above / below inline svg in IE.
 Remember to add ratio padding-bottom to reserve space.
 We can't use .svg class name here as clashes with Modernizr
 
*/

.svg-wrap, %svg-wrap {
	position: relative;
	
	/* IE9 needs height for alignment */
	padding-bottom: 1px;

	img, svg {
		/* Fix extra space above / below inline svg for IE */
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);

		/* Make sure this is applied for IE9 regardless of autoprefixer settings */
		-ms-transform: translateY(-50%);
	}
}

@each $width in $svg_widths {
	.svg-wrap--#{$width} {
		max-width: rem($width);
	}
}